<header class=" w-full">
    <div class=" bg-transparent flex flex-row justify-between align-middle items-center">
        <div class=" ml-3 sm:ml-0 pt-4 sm:pt-0 text-slate-500 tracking-normal flex flex-row align-middle font-sans "
            style="font-family: 'Libre Barcode 128 Text', cursive;">
            <span>
                <a href="https://fileflyer.netlify.app/" >
                <button
                    class="bg-transparent px-3 sm:px-0 py-0  text-gray-900 hover:text-gray-950 text-sm animate-flip-up animate-duration-1000 animate-delay-0">

                    <img src="assets/fileflyerlogo.png" class="w-36 sm:w-28" />
                </button></a>
            </span>

        </div>
        <div
            class="mr-3 sm:mr-0 text-slate-500 font-medium font-sans tracking-normal pt-3 sm:pt-0 flex flex-row flex-nowrap justify-center align-middle">
            <div class="flex flex-row flex-nowrap align-middle justify-center">
                <!-- <span>
                    <button
                        class="bg-transparent px-3 sm:px-0 pt-1  text-gray-900 hover:text-gray-600 text-xl sm:text-lg">
                        <i class="bi bi-house-fill"></i>
                    </button>
                </span> -->

                <span>
                    <a href="mailto:shaikshafieluru@gmail.com" target="_blank">
                    <button
                        class="bg-transparent px-3 sm:px-0 pt-1  text-gray-900 hover:text-gray-600 text-xl sm:text-lg">
                        <i class="bi bi-envelope-fill"></i>
                    </button>
                </a>
                </span>

                <span>
                    <a href="https://github.com/shafi099" target="_blank">
                    <button
                        class="bg-transparent px-3 sm:px-0 pt-1  text-gray-900 hover:text-gray-600 text-xl sm:text-lg">
                        <i class="bi bi-github"></i>
                    </button></a>
                </span>

                <span>
                    <a href="https://www.linkedin.com/in/shaik-shafi-eluru/" target="_blank"></a>
                    <button
                        class="bg-transparent px-3 sm:px-0 pt-1  text-gray-900 hover:text-gray-600 text-xl sm:text-lg">
                        <i class="bi bi-linkedin "></i>
                    </button>
                </span>
            </div>

            <div class="flex align-middle  p-1 sm:hidden" >
                <span>
                    <button
                        class="bg-gray-900 px-3 py-1 rounded-2xl border-2 border-transparent border-t-slate-700/50 font-sans border-b-slate-900 text-gray-200 text-sm sm:text-xs">
                        How this works <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</header>