<div class="App bg-[url('/assets/layered-waves-haikei.svg')] bg-cover bg-center" style="height:100vh;">
  <app-header></app-header>

  <div class="flex flex-col items-center justify-center align-middle ">
    <!-- <span class="text-3xl font-bold text-slate-50">File Flyer
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
        <path fill="#ffa000" d="M40,12H22l-4-4H8c-2.2,0-4,1.8-4,4v24c0,2.2,1.8,4,4,4h29.7L44,29V16C44,13.8,42.2,12,40,12z"></path><path fill="#ffca28" d="M40,12H8c-2.2,0-4,1.8-4,4v20c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4V16C44,13.8,42.2,12,40,12z"></path>
        </svg>
    </span> -->
    <span class="text-md text-slate-400">Wherever, Whenever, We Deliver</span>

    <span class="mt-2">
      <img src="assets/logoF.png" class="mix-blend-screen w-36" />
    </span>


  </div>

  <!-- <div class="flex flex-row justify-center align-middle text-xl font-bold text-slate-50">
    End-to-End Data Transfer
  </div> -->

  <!-- <div class=" flex items-center justify-center mt-6">
  <div class="flex flex-row flex-wrap">
      <div class="m-5 bg-slate-200 hover:bg-slate-50 text-slate-950 font-semibold px-5 py-1 rounded-xl drop-shadow-md border-t-2 border-t-slate-50 border-b-slate-950 ">
        <button>
          Send/Encode
          <i class="bi bi-send-fill"></i>
        </button>
      </div>
      <div class="m-5 bg-slate-200 hover:bg-slate-50 text-slate-950 font-semibold px-5 py-1 rounded-xl drop-shadow-md border-t-2 border-t-slate-50 border-b-slate-950 ">
        <button>Receiver/Decode
          <i class="bi bi-inbox-fill"></i>
        </button>
      </div>
  </div>

</div> -->


  <!-- drap and drop section  -->
  <div class=" flex items-center justify-center mt-6">
    <div
      class="w-80 flex flex-col justify-center p-4 bg-slate-950/30 border-dashed rounded-3xl border-2 border-slate-600 drop-shadow-lg"
      (drop)="onDrop($event)" (dragover)="onDragOver($event)">
      <div class="flex justify-center items-center">
        <span class="text-slate-400 font-medium text-md">Drag and drop files here</span>
      </div>
      <div class="drop-container flex justify-center items-center py-2">
        <span class="text-slate-500 font-medium text-sm">or</span>
      </div>


      <div class="drop-container flex justify-center items-center">
        <span class="text-slate-400 font-medium text-md">
          <input type="file" multiple (change)="onFileSelected($event)" style="display: none;" #fileInput />
          <button class="mt-2 bg-slate-200 text-slate-950  rounded-xl px-4 py-0 border-t-2 border-t-slate-600/50 "
            (click)="fileInput.click()">Browse Files</button>
        </span>
      </div>
    </div>
  </div>

  <!-- <div *ngFor="let item of items; let i = index">
    <div class="file-item">
      <span>{{ item.name }}</span>
      <span>{{ item.size }}</span>
      <button (click)="onDelete(i)">Delete</button>
    </div>
  </div>  -->

  <div class="flex items-center justify-center mt-3">
    <span class="text-slate-400">Selected Files</span>
  </div>


<div class="flex flex-col h-72 overflow-auto items-center mx-72 fileItems">
  <div class="flex flex-col justify-center align-top items-center " *ngFor="let item of items; let i = index">
    <div class="flex flex-col items-center justify-center align-top">
     
      <div class="file-item flex justify-end align-middle">
        <div class="text-slate-100 text-xl w-6 items-end">
          <!-- <i class="bi bi-file-earmark"></i> -->
          <span>{{ i+1 }}.</span>
        </div>
        <div class="flex flex-col w-96 justify-start items-start">
          <span class="text-slate-50 text-sm">{{ item.name }}</span>
          <span class="text-slate-50/50 text-xs">{{ item.size }}</span>
        </div>
        <div class="w-24 items-center flex align-middle">
          <button class="bg-red-700 rounded-xl px-4  text-red-200 justify-center flex align-middle border-t-2 border-t-red-500 shadow-md text-sm" (click)="onDelete(i)">Delete</button>
        </div>
        
        
      </div>
      <!-- <div class="file-item">
        <span>ShafiImage</span>
        <span>1024MB</span>
        <button (click)="onDelete(1)">Delete</button>
      </div> -->
    </div>
    <hr class="w-96 rounded-lg border-t-2 border-slate-700 my-1">
  </div>



</div>
</div>