<div class="App bg-[url('/assets/fileflyerbg.png')] bg-cover bg-center" style="height:100vh">
  <app-header></app-header>

  <div class="flex flex-col items-center justify-center align-middle ">
    <span class="text-sm text-slate-400 animate-fade animate-once animate-duration-[1000ms]">Wherever, Whenever, We
      Deliver</span>
    <span class="mt-2">
      <img src="assets/fileflyerlogo.png" class=" w-36 animate-fade animate-once animate-duration-[2000ms]" />
    </span>
  </div>


  <!-- <div class="flex flex-row justify-center align-middle text-xl font-bold text-slate-50">
    End-to-End Data Transfer
  </div> -->


  <!-- option buttons  -->
  <div class=" flex items-center justify-center mt-6" *ngIf="fileFlyerOptions==='options'">
    <div class="flex flex-row flex-wrap  bg-[url('/assets/fileflyeroptionsbg.png')] bg-cover bg-center mix-blend-multiply animate-fade animate-once animate-delay-0">
      <div
        class="animate-fade-right animate-once shadow-md animate-duration-[1000ms] m-5 bg-gray-900 hover:bg-gray-800 text-gray-100 font-normal px-5 py-2 rounded-2xl  border-t-2 border-t-gray-700 border-b-slate-950 ">
        <button (click)="toggleOptions('send')">
          Send/Encode
          <i class="bi bi-send-fill"></i>
        </button>
      </div>
      <div
        class="animate-fade-left animate-once animate-duration-[1000ms] animate-delay-700 m-5 bg-gray-900 hover:bg-gray-800 text-gray-100 font-normal px-5 py-2 rounded-2xl shadow-md border-t-2 border-t-gray-700 border-b-slate-950 ">
        <button (click)="toggleOptions('receive')">Receiver/Decode
          <i class="bi bi-cloud-arrow-down-fill"></i>
        </button>
      </div>
    </div>

  </div>


  <!-- send section  -->
  <div *ngIf="fileFlyerOptions==='send'">

    <div class=" flex items-center justify-center mt-3 w-full ">

      <!-- dnd here  -->
      <div
        class="flex flex-row justify-center p-4  bg-[url('/assets/fileflyeroptionsbg.png')] bg-cover bg-center mix-blend-multiply rounded-3xl border-2 border-slate-600 drop-shadow-lg animate-fade animate-once"
        (drop)="onDrop($event)" (dragover)="onDragOver($event)" style="border:2px dashed #475569">
        <div class="w-52 flex flex-row justify-center items-center animate-fade-right animate-duration-1000">
          <span class="flex flex-row text-gray-900 font-sans font-medium text-md">Drag and drop files here</span>
        </div>
        <div class="w-12 drop-container flex justify-center items-center py-2">
          <span class="text-gray-800 font-medium font-sans text-sm">or</span>
        </div>


        <div class="w-52 drop-container flex  flex-row justify-center items-center animate-fade-left animate-duration-1000 animate-delay-700">
          <span class="text-slate-400 font-medium text-md">
            <input type="file" multiple (change)="onFileSelected($event)" style="display: none;" #fileInput />
            <button
              class="mt-2 flex flex-row bg-gray-900 text-gray-50 font-sans rounded-xl px-4 py-1 border-t-2 border-t-slate-50 border-b-2 border-b-slate-200 "
              (click)="fileInput.click()">Browse Files</button>
          </span>
        </div>
      </div>
    </div>



    <div class="flex items-center justify-center mt-6" *ngIf="fileBox.length>0">
      <span class="text-gray-900 font-semibold font-sans">Selected Files</span>
    </div>


    <!-- selected files -->
    <div *ngIf="fileBox.length>0"
      class="flex flex-col h-72 overflow-auto items-center
       mx-96 rounded-2xl outline-1 outline-blue-900  bg-[url('/assets/fileflyerselectedbg.png')]/25 bg-cover bg-center mix-blend-multiply py-3 fileItems"
       >
      <div class="flex flex-col justify-center align-top items-center my-1" *ngFor="let item of items; let i = index">

        <div class="flex flex-col items-center justify-center align-top">

          <div class="file-item flex justify-center align-middle animate-jump animate-once animate-duration-[1200ms]">
            <div class="text-gray-800 text-xl font-sans font-normal pr-4 w-12 items-end">
              <!-- <i class="bi bi-file-earmark"></i> -->
              <span>{{ i+1 }}.</span>
            </div>
            <div class="flex flex-col w-96 justify-start items-start">
              <span class="text-gray-900 font-sans font-semibold text-md">{{ item.name }}</span>
              <span class="text-gray-950 font-sans font-semibold text-xs">({{ item.size }})</span>
            </div>
            <div class="w-24 items-center flex align-middle ">
              <button
                class="bg-red-700 rounded-xl px-3 text-red-50 justify-center flex align-middle border-t-2 border-b-4 border-b-red-700 border-t-red-600 shadow-md text-xs font-semibold"
                (click)="onDelete(i)">Remove</button>
            </div>


          </div>

        </div>
        <div class="w-full border-2 rounded-lg my-1" style="border:2px dashed #e4317c"></div>
      </div>



    </div>

    <!-- files and size -->
    <div class="flex items-center justify-center flex-row flex-wrap mt-2" *ngIf="fileBox.length>0">
      <div class="text-gray-900 font-sans font-semibold">
        <span>{{itemsLength()}} Files, {{itemsSize()}}</span>

      </div>
    </div>

    <!-- send/encode -->
    <div class="flex items-center justify-center flex-row flex-wrap mt-6 animate-fade animate-once" *ngIf="fileBox.length>0">
      <button class="bg-gray-950 flex items-center hover:bg-gray-800 text-gray-50 
    font-semibold px-5 py-1 rounded-xl drop-shadow-md border-t-2 border-t-grey-700
     border-b-gray-950 font-sans animate-bounce animate-infinite animate-duration-[1200ms] animate-ease-linear animate-alternate animate-fill-forwards" (click)='fileEncode()' >
        Send/Encode
        <i class="bi bi-send-fill"></i>
      </button>
    </div>

  </div>


  <!-- receive file -->
  <div *ngIf="fileFlyerOptions=='receive'">
    <div class="flex flex-col items-center justify-center mt-12 w-full">
      <div
        class="flex flex-col items-center justify-center p-1 bg-[url('/assets/fileflyeroptionsbg.png')] bg-cover bg-center mix-blend-multiply  rounded-3xl border-2 border-slate-600 drop-shadow-lg animate-fade animate-once"
        style="border:2px dashed #475569" *ngIf="!downloadBtn">
        <div class="w-80 drop-container flex  flex-row justify-center items-end">
          <span class="text-slate-400 font-medium text-md flex  flex-row items-end">
            <input type="file" (change)="readFileDecode($event)" style="display: none;" #readFile />
            <button
              class="mt-2 flex flex-row bg-gray-900 text-gray-50  rounded-xl px-4 py-1 border-t-2 border-t-slate-50 border-b-2 border-b-slate-200 font-sans"
              (click)="readFile.click()">Select encode file here</button>
          </span>
        </div>

        <div class="w-12 drop-container flex justify-center items-center py-2">
          <span class="text-slate-500 font-medium text-sm">or</span>
        </div>

        <div class="w-80 my-1 flex flex-col justify-center items-center">
          <span class="flex flex-row text-slate-400 text-md">Enter encode text below</span>

          <textarea type="text"
            class="w-72 h-12 rounded-xl resize-y bg-slate-800 border-t-2 border-t-slate-700 border-b-2 border-b-slate-950 text-slate-100 p-2 overflow-auto text-md font-normal m-1"></textarea>

        </div>

        
      </div>

      <div class="flex items-center justify-center flex-row flex-wrap mt-6 animate-fade animate-once">
        <span class="text-red-500 font-semibold">{{ alertMessage }}</span>
      </div>

      <div class="flex items-center justify-center flex-row flex-wrap mt-6 animate-fade animate-once" *ngIf="downloadBtn">
        <button class="bg-green-600 flex items-center hover:bg-green-800 text-green-100 
      font-semibold px-3 py-1 rounded-xl drop-shadow-md border-t-2 border-t-green-400
       border-b-slate-950 animate-bounce animate-infinite animate-duration-[1200ms] animate-ease-linear animate-alternate animate-fill-forwards" >
       <a [href]="fileFlyerFile" download="file-flyer.zip">
          Download
          <i class="bi bi-cloud-arrow-down-fill ms-2"></i></a>
        </button>
      </div>
    </div>
  </div>

</div>