<div class="App md:bg-[url('/assets/fileflyerbg.png')] lg:bg-[url('/assets/fileflyerbg.png')] 2xl:bg-[url('/assets/fileflyerbg.png')] xl:bg-[url('/assets/fileflyerbg.png')] sm:bg-white bg-cover bg-center bg-fixed" style="height:120vh;font-family: 'Lexend', sans-serif;">
  <app-header></app-header>

  <div class="flex flex-col items-center justify-center align-middle" *ngIf="fileFlyerOptions==='options'">
    <!-- <span class="text-sm text-slate-600 animate-fade animate-once animate-duration-[1000ms]">Wherever, Whenever, We
      Deliver</span> -->
      <!-- <span class="mt-2">
      <img src="assets/fileflyerlogo.png" class=" w-36 animate-fade animate-once animate-duration-[2000ms]" />
    </span> -->
      <span class="text-xl font-extrabold text-gray-950  mt-16 sm:mt-6 sm:ml-3 sm:leading-tight
       animate-fade animate-once animate-duration-[1000ms]">
        Keeping your files safe and your sharing secure, all without the <s><span class="font-segeo text-blue-500 sm:leading-tight">cloud</span></s>.
      </span>

      <span class="mt-2 xl:mx-96 lg:mx-72 sm:mx-3 text-xs font-segeo text-slate-600 animate-fade animate-once animate-duration-[1000ms]  md:text-center lg:text-center xl:text-center 2xl:text-center sm:text-left">
        Simplifies file management, transformation, and sharing like never before. With us, you can effortlessly convert your uploaded files into a convenient zip format and then transform them into easily shareable, all with the click of a button.
      </span>
    
  </div>


  <div class="flex flex-row justify-center align-middle text-md font-normal font-segeo mt-6 text-sky-600 "
  *ngIf="fileFlyerOptions==='options'">
    select one option below
  </div>


  <!-- option buttons  -->
  <div class=" flex sm:flex-col items-center justify-center mt-6" *ngIf="fileFlyerOptions==='options'">
    <div class="sm:flex sm:flex-col xl:flex-row lg:flex-row md:flex-row bg-[url('/assets/fileflyeroptionsbg.png')] sm:bg-[url('/assets/fileflyeroptionsbg-portrait.png')] bg-cover bg-center mix-blend-multiply animate-fade animate-once animate-delay-0">
      <div class="flex items-center justify-center">
        <button (click)="toggleOptions('send')" 
        class="mix-blend-normal animate-fade-right animate-once shadow-md animate-duration-[1000ms] font-segeo font-normal flex flex-row flex-nowrap sm:m-5 xl:m-8 lg:m-8 md:m-8 bg-gray-900 hover:bg-gray-800 text-gray-100 px-5 sm:px-2 py-2 rounded-2xl  border-t-2 border-t-gray-700 border-b-slate-950 ">
          
          Send/Encode
          <i class="bi bi-send-fill px-1"></i>
        </button>
      </div>
      <div class="flex items-center justify-center">
        <button (click)="toggleOptions('receive')"
        class="animate-fade-left animate-once shadow-md animate-duration-[1000ms] font-segeo flex flex-row flex-nowrap sm:m-5 xl:m-8 lg:m-8 md:m-8  bg-gray-900 hover:bg-gray-800 text-gray-100 font-normal px-5 sm:px-2 py-2 rounded-2xl  border-t-2 border-t-gray-700 border-b-slate-950 ">
        Receiver/Decode
          <i class="bi bi-cloud-arrow-down-fill px-1"></i>
        </button>
      </div>
    </div>

  </div>

  <div class="flex items-center justify-center mt-6 sm:mt-3" *ngIf="fileFlyerOptions=='receive'||fileFlyerOptions==='send'">
    <button class="text-gray-900 hover:bg-gray-200  font-semibold font-segeo border rounded-full px-2 py-1 text-sm" (click)="backHome()">
      <i class="bi bi-arrow-left-circle-fill"></i> Go back to home 
    </button>
  </div>

  <!-- send section  -->
  <div *ngIf="fileFlyerOptions==='send'">

    <div class=" flex sm:flex-col items-center justify-center mt-3 w-full ">

      <!-- dnd here  -->
      <div
        class="p-4 sm:p-0 rounded-3xl sm:flex sm:flex-col xl:flex-row lg:flex-row md:flex-row items-center justify-center bg-[url('/assets/fileflyeroptionsbg.png')] sm:bg-[url('/assets/fileflyeroptionsbg-portrait.png')] bg-cover bg-center mix-blend-multiply animate-fade animate-once animate-delay-0 shadow"
        (drop)="onDrop($event)" (dragover)="onDragOver($event)" style="border:2px dashed #475569">
        
        <div class="w-52 flex flex-row justify-center items-center animate-fade-right animate-duration-1000 ">
          <span class="flex flex-row text-gray-900 font-segeo font-medium text-md sm:text-sm">Drag and drop files here</span>
        </div>
        <div class="w-12 drop-container flex justify-center items-center py-2 sm:py-0 md:py-2 lg:py-2 xl:py-2 2xl:py-2">
          <span class="text-gray-800 font-medium font-segeo text-sm">or</span>
        </div>


        <div class="w-52 drop-container flex  flex-row justify-center items-center animate-fade-left animate-duration-1000 animate-delay-700">
          <span class="text-slate-400 font-medium text-md">
            <input type="file" multiple (change)="onFileSelected($event)" style="display: none;" #fileInput />
            <button
              class="mt-2 flex flex-row align-middle justify-center font-normal bg-gray-900 text-gray-50 font-segeo rounded-xl px-4 py-1 border-t-2 border-t-slate-50 border-b-2 border-b-slate-200 sm:text-sm"
              (click)="fileInput.click()">Browse Files</button>
          </span>
        </div>
      </div>
    </div>



    <div class="flex items-center justify-center mt-6 sm:mt-3" *ngIf="fileBox.length>0">
      <span class="text-gray-900 font-semibold font-segeo">Selected Files</span>
    </div>


    <!-- selected files -->
    <div *ngIf="fileBox.length>0"
      class="flex flex-col h-72 overflow-auto items-center
       mx-96 sm:mx-3 md:mx-24 lg:mx-60 mt-3 rounded-2xl outline-1 outline-blue-900  bg-[url('/assets/fileflyerselectedbg.png')] bg-cover bg-center mix-blend-multiply py-3 fileItems"
       >
      <div class="flex flex-col justify-center align-top items-center my-1" *ngFor="let item of items; let i = index">

        <div class="flex flex-col items-center justify-center align-top">

          <div class="file-item flex justify-center align-middle animate-jump animate-once animate-duration-[750ms]">
            <div class="text-gray-800 text-md sm:text-md font-segeo font-normal pr-4 sm:pr-0 w-12 sm:w-7 items-center">
              <!-- <i class="bi bi-file-earmark"></i> -->
              <span>{{ i+1 }}.</span>
            </div>
            <div class="flex flex-col w-96 sm:w-60 justify-start items-start">
              <span class="text-gray-900 font-segeo font-semibold text-md sm:text-sm">{{ item.name }}</span>
              <span class="text-gray-950 font-segeo font-semibold text-xs">({{ item.size }})</span>
            </div>
            <div class="w-24 sm:w-8 items-center flex align-middle ">
              <button
                class="bg-red-700 rounded-xl sm:px-2 2xl:px-3  md:px-3 lg:px-3 xl:px-3  text-red-50 flex items-center justify-center align-middle border-t-2 border-b-4 border-b-red-700 border-t-red-600 shadow-md text-xs font-semibold"
                (click)="onDelete(i)">
                <span class="sm:hidden flex  font-segeo font-light">Remove</span>
              <span class="lg:hidden xl:hidden 2xl:hidden text-md"><i class="bi bi-x-circle"></i></span></button>
            </div>


          </div>

        </div>
        <div class="w-full rounded-lg my-1" style="border:1px dashed #e4317c"></div>
      </div>



    </div>

    <!-- files and size -->
    <div class="flex items-center justify-center flex-row flex-wrap mt-2" *ngIf="fileBox.length>0">
      <div class="text-gray-900 font-semibold  font-segeo ">
        <span>{{itemsLength()}} Files, {{itemsSize()}}</span>

      </div>
    </div>
    <!-- <div class="flex items-center justify-center flex-row flex-wrap mt-2" *ngIf="fileBox.length>0">
      <div class="text-gray-900  font-segeo ">
        <span>
          <input type="text" placeholder="Enter file name">
        </span>

      </div>
    </div> -->
    <!-- <div class="w-80 bg-gray-200 rounded-full dark:bg-gray-700 " *ngIf="uploadBar!=0">
      <div class="bg-blue-400 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" [style.width]="uploadBar + '%'"> {{uploadBar + '%'}}</div>
    </div> -->
    <!-- send/encode -->
    <div class="flex items-center justify-center flex-row flex-wrap mt-6 animate-fade animate-once" *ngIf="fileBox.length>0">
      <button class="bg-gray-950 flex items-center hover:bg-gray-800 text-gray-50 
    font-semibold px-5 py-1 rounded-xl drop-shadow-md border-t-2 border-t-grey-700
     border-b-gray-950 font-segeo animate-bounce animate-infinite animate-duration-[1200ms] animate-ease-linear animate-alternate animate-fill-forwards" (click)='fileEncode()' >
        Send/Encode
        <i class="bi bi-send-fill ms-1"></i>
      </button>
    </div>

  </div>


  <!-- receive file -->
  <div *ngIf="fileFlyerOptions=='receive'">
    <div class="flex flex-col items-center justify-center mt-12 w-full">
      <div
        class="flex flex-col items-center justify-center p-1 bg-[url('/assets/fileflyeroptionsbg.png')] bg-cover bg-center mix-blend-multiply  rounded-3xl border-2 border-slate-600 drop-shadow-lg animate-fade animate-once shadow"
        style="border:2px dashed #475569" *ngIf="!downloadBtn">
        <div class="w-80 drop-container flex  flex-row justify-center items-end animate-fade-right animate-duration-1000 animate-delay-750">
          <span class="text-gray-400 font-light text-sm flex  flex-row items-end">
            <input type="file" (change)="readFileDecode($event)" style="display: none;" #readFile />
            <button
              class="my-2 flex flex-row bg-gray-900 text-gray-100  rounded-xl px-4 py-1 border-t-2 border-t-slate-50 border-b-2 border-b-slate-200 font-segeo"
              (click)="readFile.click()">Select encode file here <i class="bi bi-file-zip ms-1"></i></button>
          </span>
        </div>

        <div class="w-12 drop-container flex justify-center items-center py-2">
          <span class="text-gray-900 font-normal font-segeo  text-sm">or</span>
        </div>

        <div class="w-80 mb-1 flex flex-col justify-center items-center animate-fade-left animate-duration-1000 animate-delay-1300">
          <span class="flex flex-row font-segeo font-normal text-gray-900 text-md">Enter encode text below</span>

          <textarea type="text"
            class="w-72 h-12 rounded-xl resize-y font-segeo  bg-gray-50 border-3 border-blue-300 text-gray-900 p-2 overflow-auto text-md font-normal m-1" id="encodeTextDrop" (input)="encodeFromText($event)"></textarea>

        </div>

        <div class="drop-container flex flex-col justify-center items-center mb-1 animate-flip-down animate-once animate-duration-1000 animate-delay-0" *ngIf="decodeBtn">
          <span class="text-xs text-red-700 font-light">Please ensure that you paste the correct text,<br> otherwise, an empty file will be downloaded.</span>
          <span class="text-gray-900 font-normal font-segeo  text-sm">
            <button class=" flex flex-row bg-gray-900 text-gray-300  rounded-xl px-4 py-1 border-t-2 border-t-slate-50 border-b-2 border-b-slate-200 font-segeo"
            (click)="decodeText()">Decode
              <i class="bi bi-braces-asterisk ms-1"></i>
            </button>
          </span>
        </div>

        
      </div>

      <div class="flex items-center justify-center flex-row flex-wrap mt-6 animate-fade animate-once">
        <span class="text-red-600 font-semibold font-segeo">{{ alertMessage }}</span>
      </div>
      <!-- <div *ngFor='let file of fileArray; let i = index'>
        <span>{{i+1}}.</span>
        <span>{{ file }}</span>
        <button (click)="downloadFile(i,originalFilenames[i])">Download</button>
      </div> -->
      <div class="flex items-center justify-center flex-row flex-nowrap mt-6 animate-fade animate-once" *ngIf="fileArray.length!==0">
        <span class="text-gray-900 font-extralight font-segeo">(</span>
        <span class="text-gray-950 font-semibold font-segeo">{{ fileArray.length }} files </span> 
        <span  class="text-gray-900 font-extralight font-segeo">)</span>
      </div>

      <div 
        class="flex flex-col h-72 overflow-auto items-center
         mx-96 sm:mx-3 md:mx-24 lg:mx-60 mt-3 rounded-2xl outline-1 outline-blue-900  bg-[url('/assets/fileflyerselectedbg.png')] bg-cover bg-center mix-blend-multiply py-3 fileItems"
         >
        <div class="flex flex-col justify-center align-top items-center my-1" *ngFor='let file of fileArray; let i = index'>
  
          <div class="flex flex-col items-center justify-center align-top">
  
            <div class="file-item flex justify-center align-middle animate-jump animate-once animate-duration-[750ms]">
              <div class="text-gray-800 text-md sm:text-md font-segeo font-normal pr-4 sm:pr-0 w-12 sm:w-7 items-center">
                <!-- <i class="bi bi-file-earmark"></i> -->
                <span>{{ i+1 }}.</span>
              </div>
              <div class="flex flex-col w-96 sm:w-60 justify-start items-start">
                <span class="text-gray-900 font-segeo font-semibold text-md sm:text-sm">{{ file }}</span>
                <!-- <span class="text-gray-950 font-segeo font-semibold text-xs">({{ item.size }})</span> -->
              </div>
              <div class="w-24 sm:w-8 items-center flex align-middle ">
                <button
                  class="bg-gray-950 rounded-xl sm:px-2 2xl:px-3  md:px-3 lg:px-3 xl:px-3  text-red-50 flex items-center justify-center align-middle border-t-2 border-b-4 border-b-gray-900 border-t-gray-700 shadow-md text-xs font-semibold"
                  (click)="downloadFile(i,originalFilenames[i])">
                  <span class=" flex  font-segeo font-light"><i class="bi bi-download"></i></span>
                </button>
              </div>
  
  
            </div>
  
          </div>
          <div class="w-full rounded-lg my-1" style="border:1px dashed #e4317c"></div>
        </div>
  
  
  
      </div>
      
      <div class="w-80 bg-gray-200 rounded-full dark:bg-gray-700 " *ngIf="downloadProgress!=0">
        <div class="bg-blue-400 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" [style.width]="downloadProgress + '%'"> {{downloadProgress + '%'}}</div>
      </div>
      
      <div class="flex items-center justify-center flex-row flex-wrap mt-6 animate-fade animate-once" *ngIf="downloadBtn && downloadProgress==0" >
        <button class="bg-green-700 flex items-center hover:bg-green-900 text-green-100 
      font-semibold px-3 py-1 rounded-xl drop-shadow-md border-t-2 border-t-green-400
       border-b-slate-950  font-segeo animate-bounce animate-infinite animate-duration-[1200ms] animate-ease-linear animate-alternate animate-fill-forwards" >
       <a [href]="fileFlyerFile" download="file-flyer.zip">
          Download all
          <i class="bi bi-cloud-arrow-down-fill ms-2"></i></a>
        </button>
      </div>
    </div>
  </div>


  <div class="flex flex-col justify-center items-center align-middle text-md font-normal font-segeo mt-24 sm:mt-12 text-gray-700 py-3"
  *ngIf="fileFlyerOptions==='options'">
   <span class="font-segeo text-xs font-normal text-blue-900">Developed by <span class="font-bold text-sm text-pink-800">Shafi Shaik</span>
   <span>
    <a href="mailto:shaikshafieluru@gmail.com" target="_blank">
    <button
        class="bg-transparent px-2 sm:px-0 pt-1  text-blue-900  ">
        <i class="bi bi-envelope-fill"></i>
    </button>
</a>
</span>

<span>
    <a href="https://github.com/shafi099" target="_blank">
    <button
        class="bg-transparent px-2 sm:px-0 pt-1  text-blue-900  ">
        <i class="bi bi-github"></i>
    </button></a>
</span>

<span>
    <a href="https://www.linkedin.com/in/shaik-shafi-eluru/" target="_blank">
    <button
        class="bg-transparent px-2 sm:px-0 pt-1  text-blue-900  ">
        <i class="bi bi-linkedin "></i>
    </button></a>
</span></span>
   <span class="font-segeo text-normal font-light text-pink-400 text-xs mt-12">Scrolldown for feedback</span>
    
   
  </div>


</div>
<div class="bg-gray-950 flex flex-col items-center py-3" style="font-family: 'Lexend', sans-serif;">
  <form action="https://getform.io/f/71066576-9c3c-4fa1-8909-a2a00b969f9a" method="POST" class="flex flex-col items-center">
    <div class="flex flex-row justify-center align-middle text-gray-600 text-sm">
      <span>Share your feedback</span>
    </div>
    <div  class="flex flex-row justify-center align-middle text-gray-600 text-sm w-24 mt-2 object-cover">
    <img src="/assets/dog-triste.gif">
    </div>
    <!-- <iframe src="https://giphy.com/embed/I1nwVpCaB4k36" width="480" height="476" frameBorder="0" class="giphy-embed" ></iframe> -->

    <div class="flex flex-col justify-center align-middle mt-3">
     
        <input type="text" id="name" name="name" placeholder="Enter your name" class="Feedbackinput  rounded ps-3 py-1.5 bg-gray-900 w-80 focus-ring text-gray-300 text-sm border-2 border-gray-700/10" />

        
        <input type="email" id="email" name="email" placeholder="Enter your email" class="rounded ps-3 py-1.5 bg-gray-900 w-80 focus-ring text-gray-300 mt-2 text-sm border-2 border-gray-700/10" />
    </div>
    <div class="flex flex-row justify-center align-middle">
       
        <textarea type="text" id="message" name="message" placeholder="Enter your message" class="rounded ps-3 py-1.5 bg-gray-900  w-80 focus-ring text-gray-300 mt-2 text-sm border-2 border-gray-700/10" ></textarea>
    </div>
    <button type="submit" class='send bg-green-700 border-t-2 border-t-green-600 border-b-2 border-b-green-700 text-green-300 px-4 py-2 mt-2 rounded shadow text-sm'>Send <i class="bi bi-send-fill px-1"></i></button>
</form>
</div>